# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/quivibe"

# Auth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me"

# Fournisseur OAuth (optionnel)
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Cartographie
NEXT_PUBLIC_MAP_TILE_URL="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
